body{
    margin: 0;
}
header {
	background-color: #232f3e;  
}
.img-logo {
	width: 100px;
}
h3 {
    letter-spacing: 1.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px !important;
}
p {
	color: #616161;
    margin: 0;
    font-size: 14px;
}

.buy-btn{
    margin-top: 20px;
   font-weight: bold;
}

#band{
    width: 500px;
}

#crttime {
	position: absolute;
    margin-top: -280px;
    margin-left: 185px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
#heart{
    display:none;
}
.heart{
    position: absolute;
    margin-top: -80px;
    margin-left:225px;

}
#heart img{
    width: 50px;
    height: 50px;
}
.heart-beat{
    margin-top: -250px;
    margin-left: 235px;
    font-size: 25px;
    color: white;
}